{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="content-aria text-center">
                <h2>パスワードリセット</h2>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>パスワードリセット用のメールを送信します。</p>
                <form method="post" action="{% url 'account_reset_password' %}" class="row g-3">
                    {{ form.non_field_error }}
                        <div class="col-9 mx-auto">
                            {% for field in form %}
                                <div class="field">
                                    {% if field.widget_type == 'checkbox' %}
                                        <div class="checkbox">
                                            {{ field }}  {{ field.label }}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                                {{ field.errors }}
                            {% endfor %}
                        </div>
                    {% csrf_token %}
                    <div class="col-9 mx-auto d-grid">
                        <button class="btn btn-primary" type="submit">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}