{% extends 'base.html' %}
{% load static %}

{% block title %}検索結果{% endblock %}

{% block head %}
<link href="{% static 'css/shop-homepage-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% if query != "" %}
        <h3>「{{ query }}」の検索結果：</h3>
        {% else %}
        <h3>すべての本</h3>
        {% endif %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for book in book_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="{% url 'books:book_detail' book.pk%}">
                    <!-- Thumnail image-->
                    <img class="card-img-top" src="../media/{{ book.thumbnail_image }}" alt="..." />
                    </a>
                    <!-- Book details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ book.title }}</h5>
                            <!-- BookAuthor-->
                            {{ book.author }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}