{% extends 'base.html' %}
{% load static %}

{% block title %}検索結果{% endblock %}

{% block head %}
<link href="{% static 'css/shop-homepage-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section>
    <div class="container px-4 px-lg-5 mt-5">
        {% if query == "" %}
        <h3>すべての一覧：</h3>
        {% else %}
        <h3>{{ query }}の一覧：</h3>
        {% endif %}
        <div class="row gx-4 gx-lg-5">
            {% for book in book_list %}
            <div class="col-md-3">
                <!--12を割った数字の数が列数になる -->
                <div class="col mb-5">
                <div class="card">
                    <a href="{% url 'books:book_detail' book.pk%}">
                    <!-- Thumnail image-->
                        {% if view_from == 'BookListFromTagView'%}
                            <img class="card-img-top" src="../../media/{{ book.thumbnail_image }}" alt="..." />
                        {% else %}
                            <img class="card-img-top" src="../media/{{ book.thumbnail_image }}" alt="..." />
                        {% endif %}
                    </a>
                    <!-- Book details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ book.title }}</h5>
                            <!-- BookAuthor-->
                            {{ book.author }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}