    {% extends 'base.html' %}
{% load static %}

{% block title %}書籍詳細{% endblock %}

{% block head %}
<link href="{% static 'css/shop-item-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="detail py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="book-image col-md-4 mt-5">
                <a href="{{ object.amazon_url }}">
                    <img class="card-img-top mb-md-0" src="../../media/{{ object.thumbnail_image }}" alt="..." />
                </a>
            </div>
            <div class="col-md-8">
                <div class="d-flex justify-content-end">
                    {% if is_add_bookshelf %}
                    <button type="button" class="btn btn-secondary" disabled>本棚に追加済み</button>
                    {% else %}
                    <!-- ★formだとお気に入りの星がずれるのでボタンにしたい -->
                    <form class="mt-5" action="{% url 'books:mybooks_add' book.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">本棚に追加</button>
                    </form>
                    {% endif %}
                </div>
                <h1 class="display-5 fw-bolder">{{ object.title }}
                    <a href="{{ object.amazon_url }}"><img src="../../static/assets/img/amazon_icon.png" witdh="40" height="40"></a>
                </h1>
                <div class="fs-5 mb-5">
                    <span>{{ object.author }}</span>
                </div>
                <span>{{ object.description }}</span>
                <div class="tags-aria align-content-between flex-wrap">
                    {% for tag_islike_key, tag_islike_value in tag_islike_dic.items %}
                    <span class="tag">
                        <!-- ★タグ名でlist表示できるようにする -->
                        <a class="btn btn-sm btn-outline-dark flex-shrink-0" href="{% url 'books:book_list_from_tag' tag_islike_key.tag.pk%}" type="button">
                            #{{ tag_islike_key.tag.name }}
                        </a>
                        <!-- 書籍タグいいね機能 -->
                        {% if tag_islike_value.0 %}
                            <button type="button" id="{{tag_islike_key.pk}}" style="border:none;background:none">
                                <i class="fas fa-heart text-danger" id="like-for-tag-icon-{{tag_islike_key.pk}}">
                                    <span id="like-for-tag-count-{{tag_islike_key.pk}}">{{tag_islike_value.1}}</span>
                                </i>
                            </button>
                        {% else %}
                            <button type="button" id="{{tag_islike_key.pk}}" style="border:none;background:none">
                                <i class="far fa-heart text-danger" id="like-for-tag-icon-{{tag_islike_key.pk}}">
                                    <span id="like-for-tag-count-{{tag_islike_key.pk}}">{{tag_islike_value.1}}</span>
                                </i>
                            </button>
                        {% endif %}

                        <!-- 書籍タグに対するいいね（Ajax）-->
                        <script type="text/javascript">
                            document.getElementById({{tag_islike_key.pk}}).addEventListener('click', e => {
                                e.preventDefault();
                                const url = '{% url "books:like_for_tag" %}';
                                fetch(url, {
                                    method: 'POST',
                                    body: `booktag_pk={{tag_islike_key.pk}}`,
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                                        'X-CSRFToken': '{{ csrf_token }}',
                                        },
                                    }).then(response => {
                                        return response.json();
                                    }).then(response => {
                                // いいね数を書き換える
                                const counter = document.getElementById('like-for-tag-count-{{tag_islike_key.pk}}')
                                counter.textContent = response.like_for_tag_count
                                const icon = document.getElementById('like-for-tag-icon-{{tag_islike_key.pk}}')
                                // 作成した場合はハートをいいね状態にする
                                if (response.method == 'create'){
                                    icon.classList.remove('far')
                                    icon.classList.add('fas')
                                    icon.id = 'like-for-tag-icon-{{tag_islike_key.pk}}'
                                } else {
                                    icon.classList.remove('fas')
                                    icon.classList.add('far')
                                    icon.id = 'like-for-tag-icon-{{tag_islike_key.pk}}'
                                }
                                }).catch(error => {
                              console.log(error);
                            });
                          });
                        </script>
                    </span>
                    {% endfor %}
                </div>
                <button type="button" class="mt-2 btn btn-sm btn-rounded btn-primary"
                        data-toggle="modal" data-target="#tagAddModal-{{object.pk}}">+タグを追加
                </button>
            </div>
        </div>
    </div>
    {% include 'tag_add_modal.html' %}
</section>
{% endblock %}

{% block extrajs %}

{% endblock %}