{% extends 'base.html' %}

{% load static %}

{% block title %}人生を変える本に出会おう。More Books!{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<!-- hero section -->
<section class="hero hero-exploration">
    <div class="container-hero">
        <div class="row d-flex">
            <div class="col-lg-7 text-center mx-auto">
                <h1 class="display-6">本と出会ってみよう！</h1>
            </div>
        </div>
    </div>
</section>

<section class="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-sm-12">
                <form class="search-form d-flex align-items-center" action="{% url 'books:book_list_from_search' %}" method="get">
                    <input class="form-control form-control-sm me-2" size="45" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 4 %}">
                        <img src="./static/assets/img/mystery.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">ミステリー・サスペンス・ハードボイルド</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 2 %}">
                        <img src="./static/assets/img/history.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">歴史小説</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 27 %}">
                        <img src="./static/assets/img/science.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">科学</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 28 %}">
                        <img src="./static/assets/img/art.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">アート</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}