{% extends 'base.html' %}

{% load static %}

{% block title %}人生を変える本に出会おう。More Books!{% endblock %}

{% block header %}

<!-- hero section -->
<section class="hero hero-exploration vh-50 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-6">本と出会ってみよう！</h1>
            </div>
        </div>
    </div>
</section>

<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <!--　タブ部分 -->
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link active" id="matching-tab" data-bs-toggle="tab" data-bs-target="#matching-tab-pane" role="tab" aria-controls="want-tab-pane" aria-selected="true">マッチング</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" id="search-tab" data-bs-toggle="tab" data-bs-target="#search-tab-pane" role="tab" aria-controls="reading-tab-pane" aria-selected="false">　検索　</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--　パネル部分 -->
        <div class="row">
            <div class="tab-content">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="matching-tab-pane" role="tabpanel" aria-labelledby="matching-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="matching">
                                    <a id="btn_new_books" data-toggle="modal" data-target="#recommend-modal">
                                        <img src="./static/assets/img/matching-1.jpg" alt="">
                                        <div class="overlay">
                                            <h4 class="text-white">新たな世界へ</h4>
                                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="matching">
                                    <a id="btn_related_books" data-toggle="modal" data-target="#recommend-modal">
                                        <img src="./static/assets/img/matching-2.jpg" alt="">
                                        <div class="overlay">
                                            <h4 class="text-white">より高みへ</h4>
                                            <h6 class="text-white">あなたをより高みに連れて行ってくれる本にきっと出会えます</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="matching">
                                    <img src="./static/assets/img/matching-3.jpg" alt="">
                                    <div class="overlay">
                                        <h4 class="text-white">一期一会</h4>
                                        <h6 class="text-white">今日はどんな本に出会えるでしょうか</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="search-tab-pane" role="tabpanel" aria-labelledby="search-tab" tabindex="0">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-4 col-sm-6">
                                <form class="navbar-form" action="{% url 'books:book_list_from_search' %}" method="get">
                                    <input class="form-control form-control-sm me-2" size="45" type="search" name="query" placeholder="書籍を検索" aria-label="Search">
                                    <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!--
            <div class="col-sm-6">
                <input id="matching" type="radio" name="TAB" class="tab-switch" checked="checked" />
                    <label class="tab-label" for="matching">ボタン 1</label>
                <div class="tab-content">
                    コンテンツ 1
                </div>
            </div>
            <div class="col-sm-6">
                <input id="search" type="radio" name="TAB" class="tab-switch"/>
                    <label class="tab-label" for="search">ボタン 2</label>
                <div class="tab-content">
                    コンテンツ 2
                </div>
            </div>-->
        </div>
    </div>


</section>
<!--
<header class="masthead_exploration">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">本と出会ってみよう！</h1>
                    <a type="button" class="btn btn-outline-light btn-lg" id="btn_related_books" data-toggle="modal" data-target="#recommend-modal">
                        知見を深める
                        <i class="far fa-solid fa-magnifying-glass"></i>
                    </a>
                    <a type="button" class="btn btn-outline-light btn-lg" id="btn_new_books" data-toggle="modal" data-target="#recommend-modal">
                        知見を広げる
                        <i class="far fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

-->
{% include 'recommend_modal.html' %}
{% endblock %}
{% block contents %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <p class="h2">新着の書籍
                <a href="{% url 'books:book_list_from_custom' 'new_arrivals'%}">
                    <i class="fas fa-solid fa-angle-right"></i>
                </a>
            </p>
             <div class="container-fluid">
                 <div class="row flex-nowrap">
                     {% for book in new_arrivals%}
                     <div class="col-2">
                         <div class="card">
                          <a href="{% url 'books:book_detail' book.pk%}">
                              <!-- Thumnail image-->
                              <img class="card-img-top" src="../media/{{ book.thumbnail_image }}" alt="..." />
                          </a>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>
            <br>
            <p class="h2">人気の書籍
                <a href="{% url 'books:book_list_from_custom' 'popular'%}">
                    <i class="fas fa-solid fa-angle-right"></i>
                </a>
            </p>
             <div class="container-fluid">
                 <div class="row flex-nowrap">
                     {% for book in popular%}
                     <div class="col-2">
                         <div class="card">
                          <a href="{% url 'books:book_detail' book.pk%}">
                              <!-- Thumnail image-->
                              <img class="card-img-top" src="../media/{{ book.thumbnail_image }}" alt="..." />
                          </a>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}

    <!-- var bookContainer = document.getElementById('book_detail'); -->
    var thumbnailImage = document.getElementById('thumbnail_image');
    var bookElement = document.createElement('div');
    var btnAddMybooks = document.getElementById('add_mybooks');
    var btnNotAddMybooks = document.getElementById('not_add_mybooks');
    var btnClose = document.getElementById('close');

    document.getElementById('btn_related_books').addEventListener('click', e => {
        const url = '{% url "books:get_related_books" %}';
        e.preventDefault();
        getRecommendBooks(url)
    });

    document.getElementById('btn_new_books').addEventListener('click', e => {
        const url = '{% url "books:get_new_books" %}';
        e.preventDefault();
        getRecommendBooks(url)
    });

    <!-- レコメンド書籍リストをサーバから取得する -->
    function getRecommendBooks(url){
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(data.recommend_exists){
                    bookList = JSON.parse(data.recommend_books);//JSONデータからリストを取得する。
                    var next_book = bookList.books[0];//リストの先頭オブジェクトを取得する。
                    <!--bookElement.innerHTML = `<h6>${next_book.title}</h6><p>${next_book.author}</p>`;-->
                    <!--bookContainer.appendChild(bookElement);-->
                    thumbnailImage.src = './../media/' + next_book.thumbnail_image;
                    btnAddMybooks.style.display = 'inline'
                    btnNotAddMybooks.style.display = 'inline'
                    btnClose.style.display = 'none'
                }else{
                    <!--bookElement.innerHTML = `<p>おすすめできる本は他にございません。しばらく時間がたってからまたお試しください。</p>`;-->
                    bookContainer.appendChild(bookElement);
                    thumbnailImage.src = './../media/static/sorry.png';
                    btnAddMybooks.style.display = 'none'
                    btnNotAddMybooks.style.display = 'none'
                    btnClose.style.display = 'inline'
                }
        }).catch(error => {
            console.log(error);
        });
    }

    <!-- 「読みたい」を押した場合（Ajax）-->
    document.getElementById('add_mybooks').addEventListener('click', e => {
        const jsonData = JSON.stringify(bookList);
        const url = '{% url "books:add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonData)
    });

    <!-- 「興味ない」を押した場合（Ajax）-->
    document.getElementById('not_add_mybooks').addEventListener('click', e => {
        const jsonData = JSON.stringify(bookList);
        const url = '{% url "books:not_add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonData)
    });

    <!-- レコメンド書籍リストをviewに渡す処理 -->
    function fetchData(url, data){
        fetch(url, {
            method: 'POST',
            body: data,
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(data.exists){
                    bookList = JSON.parse(data.next_books);//JSONデータからリストを取得する。
                    var next_book = bookList.books[0];//リストの先頭オブジェクトを取得する。
                    <!--bookElement.innerHTML = `<h6>${next_book.title}</h6><p>${next_book.author}</p>`;-->
                    thumbnailImage.src = './../media/' + next_book.thumbnail_image;
                    btnAddMybooks.style.display = 'inline'
                    btnNotAddMybooks.style.display = 'inline'
                    btnClose.style.display = 'none'
                }else{
                    <!--bookElement.innerHTML = `<p>おすすめできる本は他にございません。しばらく時間がたってからまたお試しください。</p>`;-->
                    thumbnailImage.src = './../media/static/sorry.png';
                    btnAddMybooks.style.display = 'none'
                    btnNotAddMybooks.style.display = 'none'
                    btnClose.style.display = 'inline'
                }
        }).catch(error => {
            console.log(error);
        });
    }
{% endblock %}