{% extends 'base.html' %}
{% load static %}

{% block title %}検索結果{% endblock %}

{% block head %}
<link href="{% static 'css/shop-homepage-gh-pages.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block contents %}

<!-- hero section -->
<section class="hero hero-list">
    <div class="container-hero">
        <div class="row d-flex">
            <div class="col-sm-11 text-center mx-auto">
                {% if query == "" %}
                <h2>すべての一覧：{{ count }}冊</h2>
                {% else %}
                <h2>「{{ query }}」の一覧：{{ count }}冊</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-2 gx-lg-3">
            {% for book in book_list %}
            <div class="col-md-2 col-6">
                <!--12を割った数字の数が列数になる -->
                <div class="col mb-5">
                <div class="card">
                    <a href="{% url 'books:book_detail' book.pk%}">
                        <img class="card-img-top" src="../../media/{{ book.thumbnail_image }}" alt="..." />
                    </a>
                    <!-- Book details-->
                    <div class="card-body p-4">
                        <div>
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{ book.title }}</h6>
                            <!-- BookAuthor-->
                            {{ book.author }}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}

            <!-- ページネーション処理 -->
            {% if is_paginated %}
                <ul class="pagination">
                    <!-- 前のページへのリンク -->
                    {% if page_obj.has_previous %}
                        <li class="page_item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- ページ数表示 -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_obj.number == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ page_num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- 次のページへのリンク -->
                    {% if page_obj.has_next %}
                        <li class="page_item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}