{% extends 'base.html' %}

{% load static %}

{% block title %}人生を変える本に出会おう。More Books!{% endblock %}

{% block header %}
    {% include 'recommend_modal.html' %}
{% endblock %}

{% block contents %}

<!-- hero section -->
{% if user.is_authenticated %}
<section class="hero hero-index-afterauth vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="index-afterauth-content col-md-7 mx-auto text-center">
                <a type="button" class="btn-exploration btn btn-outline-light btn-lg" id="btn_related_books" data-toggle="modal" data-target="#recommend-modal">
                    店主におすすめを聞いてみる
                </a>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <div class="container">

        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 4 %}">
                        <img src="./static/assets/img/mystery.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">ミステリー・サスペンス・ハードボイルド</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 2 %}">
                        <img src="./static/assets/img/history.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">歴史小説</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 27 %}">
                        <img src="./static/assets/img/science.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">科学</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 28 %}">
                        <img src="./static/assets/img/art.jpg" alt="">
                        <div class="overlay">
                            <h4 class="text-white">アート</h4>
                            <h6 class="text-white">未だ見ぬ新たな世界へ飛び込んでみましょう</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-sm-12">
                <form class="search-form d-flex align-items-center" action="{% url 'books:book_list_from_search' %}" method="get">
                    <input class="form-control form-control-sm me-2" size="45" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="hero hero-index-beforeauth vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h1 class="copy display-4">人生を変える本に出会おう。</h1>
                <h1 class="copy display-4">More Books!</h1>
                <a type="button" class="btn-exploration btn btn-outline-light btn-lg" href="{% url 'account_login' %}">
                    新しい本と出会う
                </a>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}

{% block javascript %}
    var thumbnailImage = document.getElementById('thumbnail_image');
    var btnLike = document.getElementById('btn_like');
    var btnUnLike = document.getElementById('btn_unlike');
    var btnRelatedBooks = document.getElementById('btn_related_books');

    <!-- サーバから提案書籍リストを取得　-->
    btnRelatedBooks.addEventListener('click', e => {
        const url = '{% url "books:get_related_books" %}';
        e.preventDefault();
        getRecommendBooks(url)
    });

    btnLike.addEventListener('click', e => {
        const jsonData = JSON.stringify(bookList);
        const url = '{% url "books:add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonData);
    });

    btnUnLike.addEventListener('click', e => {
        const jsonData = JSON.stringify(bookList);
        const url = '{% url "books:not_add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonData);
    });

    <!-- レコメンド書籍リストをサーバから取得する -->
    function getRecommendBooks(url){
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(data.recommend_exists){
                    bookList = JSON.parse(data.recommend_books);//JSONデータからリストを取得する。
                    var next_book = bookList.books[0];//リストの先頭オブジェクトを取得する。
                    thumbnailImage.src = '../../media/' + next_book.thumbnail_image;
                }else{
                    thumbnailImage.src = '../../media/static/sorry.png';
                }
        }).catch(error => {
            console.log(error);
        });
    }

    <!-- レコメンド書籍リストをviewに渡す処理 -->
    function fetchData(url, data){
        fetch(url, {
            method: 'POST',
            body: data,
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(data.exists){
                    bookList = JSON.parse(data.next_books);//JSONデータからリストを取得する。
                    var next_book = bookList.books[0];//リストの先頭オブジェクトを取得する。
                    thumbnailImage.src = '../../media/' + next_book.thumbnail_image;
                }else{
                    thumbnailImage.src = '../../media/static/sorry.png';
                }
        }).catch(error => {
            console.log(error);
        });
    }
{% endblock %}