{% extends 'base.html' %}

{% load static %}

{% block title %}人生を変える本に出会おう。More Books!{% endblock %}

{% block head %}
<!-- Hammer -->
<script src="./static/js/hammer.min.js"></script>
{% endblock %}

{% block contents %}
{% include 'recommend_modal.html' %}
<!-- hero section -->
{% if user.is_authenticated %}
<section class="hero hero-index-afterauth vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="index-content col-10 offset-md-1">
                <p class="eachTextAnime site-copy">人生を_変える本に_出会おう。</p>
                <p class="eachTextAnime site-title">本とめぐり逢う本屋_More Books!</p>
            </div>
            <div class="col-10 mx-auto text-center my-6">
                <a type="button" class="btn-exploration btn btn-outline-light btn-lg btn-fade" id="btn_related_books" data-toggle="modal" data-target="#recommend-modal">
                    さっそく本と出会ってみよう
                </a>
            </div>
        </div>
    </div>
</section>
<section class="topic-section">
    <div class="container">
        <div class="section-title">
            <div class="section-title-en">Topics</div>
            <div class="section-title-jp">お知らせ</div>
        </div>
    </div>
    <div class="topics">
        <div class="col-sm-8 offset-sm-2">
            <table class="table">
                <tbody>
                {% for topic in topic_list %}
                    <tr data-href="{% url 'books:topic_detail' topic.pk %}">
                        <th scope="row"></th>
                        <td>{{ topic.created_at|date:"Y/m/d" }}</td>
                        <td>{{ topic.title }}</td>
                        <td>></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="book-recommends">
    <div class="container">
        <div class="section-title">
            <div class="section-title-en">Recommends</div>
            <div class="section-title-jp">今月の店主のオススメ</div>
        </div>
        <div class="row d-flex justify-content-center my-5 gy-4">
            <div class="col-lg-2 col-6">
                <div class="recommend-image">
                    <a href="{% url 'books:book_detail' 4065299101 %}">
                        <img src="../../media/4065299101.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="recommend-comment">
                    <p>
                        ラグビーを知らない店主でも楽しく読むことが出来ました。会社のお荷物になってしまった社会人ラグビーチームの再建に奮闘する主人公の姿は必見です。
                        池井戸潤さんならではスカッとしたいときにおすすめの本です。
                    </p>
                    <!--
                    ７つの習慣」は、成功への道標。自己管理、効果的なコミュニケーション、持続可能な成長を促進する原則が凝縮されています。
                        主体性、計画力、協力心、相互理解、シナジー、バランスの７つの柱で構築され、読者を積極的な変革へと導きます。
                        これはあなたの人生や仕事に革命をもたらすはずです。
                     -->
                </div>
                <div class="owner">
                    <img class="owner-icon" src="./static/assets/img/owner-icon-chitti.jpg" alt="">
                    <div class="owner-name">店主chitti</div>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="recommend-image">
                    <a href="{% url 'books:book_detail' 4761270438 %}">
                        <img src="../../media/4761270438.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="recommend-comment">
                    <p>
                        様々な情報で溢れるこの世の中。それらの情報は一見すると仕事や日々の生活に役立つように思えますが、実はその多くは単なるノイズかもしれません。
                        本書ではそのノイズをかき分けて本当に重要なことのみに注力することで最大の成果を上げるためのノウハウが詰まっています。
                    </p>
                </div>
                <div class="owner">
                    <img class="owner-icon" src="./static/assets/img/owner-icon-ryo.jpg" alt="">
                    <div class="owner-name">副店主ryo</div>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="recommend-image">
                    <a href="{% url 'books:book_detail' 4865014225 %}">
                        <img src="../../media/4865014225.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="recommend-comment">
                    <p>
                        ニンテンドーDSやWiiといった誰もが知るゲームを生み出した任天堂の岩田聡社長が数々のインタビュー等で話されていた内容を編纂した一冊。
                        ゲームを通じて人に楽しさや喜びを提供し続けた岩田社長の考えや姿勢、任天堂という大企業を成長させ続けることができた秘訣を知ることができます。
                    </p>
                </div>
                <div class="owner">
                    <img class="owner-icon" src="./static/assets/img/owner-icon-ryo.jpg" alt="">
                    <div class="owner-name">副店主ryo</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="book-categories">
    <div class="container">
        <div class="section-title">
            <div class="section-title-en">Book Category</div>
            <div class="section-title-jp">カテゴリ一覧</div>
        </div>
        <div class="row d-flex justify-content-center my-5 gy-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 1 %}">
                        <img src="./static/assets/img/cat_literature.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Literature</div>
                            <div class="category-name-jp">文学・評論</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 2 %}">
                        <img src="./static/assets/img/cat_thought.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Thought</div>
                            <div class="category-name-jp">人文・思想</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 3 %}">
                        <img src="./static/assets/img/cat_society_politics.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Society ＆ Politics</div>
                            <div class="category-name-jp">社会・政治</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 4 %}">
                        <img src="./static/assets/img/cat_nonfiction.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Non-Fiction</div>
                            <div class="category-name-jp">ノンフィクション</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 5 %}">
                        <img src="./static/assets/img/cat_history_geography.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">History ＆ Geography</div>
                            <div class="category-name-jp">歴史・地理</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 6 %}">
                        <img src="./static/assets/img/cat_business_economics.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Business ＆ Economics</div>
                            <div class="category-name-jp">ビジネス・経済</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 7 %}">
                        <img src="./static/assets/img/cat_finance_management.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Finance ＆ Management</div>
                            <div class="category-name-jp">投資・金融・会社経営</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 8 %}">
                        <img src="./static/assets/img/cat_science_technology.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Science ＆ Technology</div>
                            <div class="category-name-jp">科学・テクノロジー</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 9 %}">
                        <img src="./static/assets/img/cat_medicine_pharmacy.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Medicine ＆ Pharmacy</div>
                            <div class="category-name-jp">医学・薬学・看護学・歯科学</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 10 %}">
                        <img src="./static/assets/img/cat_computer_it.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Computer ＆ IT</div>
                            <div class="category-name-jp">コンピュータ・IT</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 11 %}">
                        <img src="./static/assets/img/cat_art_architecture.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Art ＆ Architecture</div>
                            <div class="category-name-jp">アート・建築・デザイン</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 12 %}">
                        <img src="./static/assets/img/cat_practical.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Practical</div>
                            <div class="category-name-jp">実用</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 13 %}">
                        <img src="./static/assets/img/cat_hobby.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Hobby</div>
                            <div class="category-name-jp">趣味</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 14 %}">
                        <img src="./static/assets/img/cat_sports.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Sports</div>
                            <div class="category-name-jp">スポーツ</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 15 %}">
                        <img src="./static/assets/img/cat_outdoors.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Outdoors</div>
                            <div class="category-name-jp">アウトドア</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 16 %}">
                        <img src="./static/assets/img/cat_qualification.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Qualification</div>
                            <div class="category-name-jp">資格・検定・就職</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 17 %}">
                        <img src="./static/assets/img/cat_health.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Living & Health</div>
                            <div class="category-name-jp">暮らし・健康・子育て</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 18 %}">
                        <img src="./static/assets/img/cat_travel.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Travel & Map</div>
                            <div class="category-name-jp">旅行ガイド・マップ</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 25 %}">
                        <img src="./static/assets/img/cat_paperback_edition.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Paperback Edition</div>
                            <div class="category-name-jp">文庫・新書</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 26 %}">
                        <img src="./static/assets/img/cat_magazine.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Magazine</div>
                            <div class="category-name-jp">雑誌</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 27 %}">
                        <img src="./static/assets/img/cat_score.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Score & Music</div>
                            <div class="category-name-jp">楽譜・スコア・音楽</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 21 %}">
                        <img src="./static/assets/img/cat_child.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Picture Book</div>
                            <div class="category-name-jp">絵本・児童書</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 22 %}">
                        <img src="./static/assets/img/cat_comic.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Comic & Light Novel & BL</div>
                            <div class="category-name-jp">コミック・ライトノベル・BL</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="category">
                    <a href="{% url 'books:book_list_from_category' 19 %}">
                        <img src="./static/assets/img/cat_language.jpg" alt="">
                        <div class="overlay">
                            <div class="category-name-en">Language & Dictionary</div>
                            <div class="category-name-jp">語学・語辞典・年鑑</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-sm-12">
                <form class="search-form d-flex align-items-center" action="{% url 'books:book_list_from_search' %}" method="get">
                    <input class="form-control form-control-sm me-2" size="45" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="hero hero-index-afterauth vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="index-content col-10 offset-md-1">
                <p class="eachTextAnime site-copy">人生を_変える本に_出会おう。</p>
                <p class="eachTextAnime site-title">本とめぐり逢う本屋_More Books!</p>
            </div>
            <div class="col-10 mx-auto text-center my-6">
                <a type="button" class="btn-exploration btn btn-outline-light btn-lg btn-fade" href="{% url 'account_login' %}" id="btn_before_auth">
                    新しい本と出会う
                </a>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}

{% block javascript %}

/* Topic欄のクリック処理 */
$(function(){
  $('tr[data-href]').on('click', function(){
    location.href = $(this).data('href');
  });
});

{% if user.is_authenticated %}
    var btnLike = document.getElementById('btn_like');
    var btnUnLike = document.getElementById('btn_unlike');
    var btnRelatedBooks = document.getElementById('btn_related_books');
    var allCards = document.querySelectorAll('.card-img-modal');
    var cardContainer = document.querySelector('.card-images');
    var selectBookIndex;

    function initCards(card, index){
        var removedCards = document.querySelectorAll('.card-removed');
        removedCards.forEach(function (card) {
            card.style.display = 'none';
        });

        var newCards = document.querySelectorAll('.card-img-modal:not(.card-removed)');
        selectBookIndex = allCards.length - newCards.length;

        newCards.forEach(function (card, index) {
            card.style.zIndex = 0 - index;
            card.style.position = 'absolute';
            card.style.right= '50%';
            card.style.transform = 'translate(50%, -' + 30*index + 'px) scale(' + (20-index)/20 + ')';

            if(index > 2){
                card.style.display = 'none';
            } else {
                card.style.display = 'inline-block';
            }
        });
    }

    initCards();

    allCards.forEach(function (el, index) {
        var hammertime = new Hammer(el);

        hammertime.on('pan', function (event) {
            el.classList.add('moving');
        });

        hammertime.on('pan', function (event) {
            if (event.deltaX === 0) return;
            if (event.center.x === 0 && event.center.y === 0) return;

            cardContainer.classList.toggle('card-like', event.deltaX > 0);
            cardContainer.classList.toggle('card-unlike', event.deltaX < 0);

            var xMulti = event.deltaX * 0.03;
            var yMulti = event.deltaY / 80;
            var rotate = xMulti * yMulti;

            event.target.style.transform = 'translate(' + event.deltaX + 'px, ' + event.deltaY + 'px) rotate(' + rotate + 'deg)';
        });

        hammertime.on('panend', function (event) {
            el.classList.remove('moving');
            cardContainer.classList.remove('card-like');
            cardContainer.classList.remove('card-unlike');
            var moveOutWidth = document.body.clientWidth;
            var keep = Math.abs(event.deltaX) < 80 || Math.abs(event.velocityX) < 0.5;

            if (keep) {
                event.target.style.transform = 'translate(50%, 0)';
            } else {
                var endX = Math.max(Math.abs(event.velocityX) * moveOutWidth, moveOutWidth);
                var toX = event.deltaX > 0 ? endX : -endX;
                var endY = Math.abs(event.velocityY) * moveOutWidth;
                var toY = event.deltaY > 0 ? endY : -endY;
                var xMulti = event.deltaX * 0.03;
                var yMulti = event.deltaY / 80;
                var rotate = xMulti * yMulti;
                event.target.style.transform = 'translate(' + toX + 'px, ' + (toY + event.deltaY) + 'px) rotate(' + rotate + 'deg)';

                (event.deltaX > 0) ? is_like = true : is_like = false;
                (selectBookIndex == allCards.length) ? is_last = true : is_last = false;

                const jsonData = {
                    book: bookList.books[selectBookIndex],
                    is_like: is_like,
                    is_last: is_last
                };
                const jsonString = JSON.stringify(jsonData);
                const url = '{% url "books:add_mybooks" %}';
                fetchData(url, jsonString);
                event.target.classList.add('card-removed');
                initCards();
            }
        });
    });

    btnRelatedBooks.addEventListener('click', e => {
        document.getElementById('wrapper').classList.add('modal-open');
        allCards.forEach(card =>  {
            card.classList.remove('card-removed');
        });
        initCards();
        const url = '{% url "books:get_related_books" %}';
        e.preventDefault();
        getRecommendBooks(url)
    });

    btnLike.addEventListener('click', e => {
        cardContainer.classList.add('card-like');
        setTimeout(function(){cardContainer.classList.remove('card-like');},300);
        is_like = true;
        (selectBookIndex == allCards.length) ? is_last = true : is_last = false;
        const jsonData = {
            book: bookList.books[selectBookIndex],
            is_like: is_like,
            is_last: is_last
        };
        const jsonString = JSON.stringify(jsonData);
        const url = '{% url "books:add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonString);
        allCards[selectBookIndex].classList.add('card-removed');
        initCards();
    });

    btnUnLike.addEventListener('click', e => {
        cardContainer.classList.add('card-unlike');
        setTimeout(function(){cardContainer.classList.remove('card-unlike');},300);
        is_like = false;
        (selectBookIndex == allCards.length) ? is_last = true : is_last = false;
        const jsonData = {
            book: bookList.books[selectBookIndex],
            is_like: is_like,
            is_last: is_last
        };
        const jsonString = JSON.stringify(jsonData);
        const url = '{% url "books:add_mybooks" %}';
        e.preventDefault();
        fetchData(url, jsonString);
        allCards[selectBookIndex].classList.add('card-removed');
        initCards();
    });

    <!-- レコメンド書籍リストをサーバから取得する -->
    function getRecommendBooks(url){
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(data.recommend_exists){
                    bookList = JSON.parse(data.recommend_books);//JSONデータからリストを取得する。
                    allCards.forEach(function(card, index){
                        console.log(index + bookList.books[index].title);
                        card.src = '../../media/' + bookList.books[index].thumbnail_image;
                    });
                }else{
                    allCards.forEach(function(card, index){
                        card.src = '../../media/static/sorry.png';
                    });
                }
        }).catch(error => {
            console.log(error);
        });
    }

    <!-- レコメンド書籍リストをviewに返す処理 -->
    function fetchData(url, data){
        fetch(url, {
            method: 'POST',
            body: data,
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(data => {
                if(!data.exists){
                }
        }).catch(error => {
            console.log(error);
        });
    }

{% endif %}


/* HERO部分の文字の表示 */
$(window).on('load', function () {
  //spanタグを追加する
  var element = $(".eachTextAnime");
  element.each(function () {
    var text = $(this).text();
    var textbox = "";
    text.split('').forEach(function (t, i) {
      if (t !== "_") {
        if (i < 10) {
          textbox += '<span style="animation-delay:.' + i + 's; color: white;">' + t + '</span>';
        } else {
          var n = i / 10;
          textbox += '<span style="animation-delay:' + n + 's; color: white;">' + t + '</span>';
        }
      } else {
        textbox += '<br>'
      }
    });
    $(this).html(textbox);
  });

  EachTextAnimeControl();/* アニメーション用の関数を呼ぶ*/
});// ここまで画面が読み込まれたらすぐに動かしたい場合の記述

// eachTextAnimeにappeartextというクラス名を付ける定義
function EachTextAnimeControl() {
  $('.eachTextAnime').each(function () {
    var elemPos = $(this).offset().top - 50;
    var scroll = $(window).scrollTop();
    var windowHeight = $(window).height();
    if (scroll >= elemPos - windowHeight) {
      $(this).addClass("appeartext");
    } else {
      $(this).removeClass("appeartext");
    }
  });
　//ボタンも表示する
    {% if user.is_authenticated %}
        var btn = document.getElementById('btn_related_books');
    {% else %}
        var btn = document.getElementById('btn_before_auth');
    {% endif %}
        btn.classList.add('visible');
}


{% endblock %}