{% extends 'base.html' %}
{% load static %}

{% block title %}一覧{% endblock %}

{% block head %}
<link href="{% static 'css/shop-homepage-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <h3>{{ status }}の一覧：</h3>
        <div class="row gx-4 gx-lg-5">
            {% for bookshelf in bookshelf_list %}
            <div class="col-md-3">
                <div class="col mb-5">
                    <div class="card">
                        {% if status == 1 %}
                        <a data-toggle="modal" data-target="#mypageWantModal-{{bookshelf.pk}}">
                            <img class="card-img-top" src="../../media/{{ bookshelf.book.thumbnail_image }}" alt="">
                        </a>
                        {% elif status == 2 %}
                        <a data-toggle="modal" data-target="#mypageReadingModal-{{bookshelf.pk}}">
                            <img class="card-img-top" src="../../media/{{ bookshelf.book.thumbnail_image }}" alt="">
                        </a>
                        {% else %}
                        <a data-toggle="modal" data-target="#mypageReadModal-{{bookshelf.pk}}">
                            <img class="card-img-top" src="../../media/{{ bookshelf.book.thumbnail_image }}" alt="">
                        </a>
                        {% endif %}
                        <!-- Book details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ bookshelf.book.title }}</h5>
                                <!-- BookAuthor-->
                                {{ bookshelf.book.author }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'mypage_want_modal.html' %}
            {% include 'mypage_reading_modal.html' %}
            {% include 'mypage_read_modal.html' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}