{% extends 'base.html' %}
{% load static %}

{% block title %}My本棚{% endblock %}

{% block active_mybooks %}active{% endblock %}

{% block head %}
<link href="{% static 'css/shop-item-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section>
    <div class="container px-4 py-3 px-lg-5 mt-5">
        <div class="row gx-2 gx-lg-3 gy-4 align-items-center">
            {% for mybook in mybooks %}
            <div class="col-md-2 col-6">
                <div class="card">
                    <a class="btn btn-delete" data-toggle="modal" data-target="#delete-modal-{{mybook.book.pk}}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                    <a href="{% url 'books:book_detail' mybook.book.pk%}">
                        <img class="card-img-top" src="../media/{{ mybook.book.thumbnail_image }}" alt="..." />
                    </a>
                </div>
            </div>
            {% include 'delete_modal.html' %}
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}

