{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block head %}
<link href="{% static 'css/shop-item-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <img class="card-img-top mb-5 mb-md-0 rounded-circle border" src="../../media/{{ object.profile_image }}" alt="..."/>
            <div class="fs-1">
                <span>{{ object.username }}</span>
            </div>
            <button type="button" class="mt-2 btn btn-sm btn-secondary"
                    data-toggle="modal" data-target="#profileEditModal-{{user.pk}}">プロフィールの修正
            </button>
        </div>
    </div>
</section>
{% endblock %}