{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block head %}
<link href="{% static 'css/shop-item-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                <div style="width: 350px; height: 350px; overflow: hidden; border-radius: 50%;">
                    <img src="../../media/{{ object.profile_image }}" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="fs-1">
                    <span>{{ object.username }}</span>
                </div>
                <button type="button" class="mt-2 btn btn-sm btn-secondary"
                        data-toggle="modal" data-target="#profileEditModal-{{user.pk}}">プロフィールの修正
                </button>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</section>
{% include 'profile_edit_modal.html' %}
{% endblock %}