{% extends 'base.html' %}
{% load static %}

{% block title %}マイページ{% endblock %}

{% block head %}
<link href="{% static 'css/shop-item-gh-pages.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-3">
                <img class="card-img-top mb-5 mb-md-0 rounded-circle border" src="../../media/{{ object.profile_image }}" alt="..."/>
                <div class="fs-1">
                    <span>{{ object.username }}</span>
                </div>
                <a class="btn btn-secondary" href="#">プロフィールを編集</a>
            </div>
            <div class="col-md-9">
                <p class="h2">読みたい
                    <a class="btn btn-secondary" href="#">編集</a>
                </p>
                 <div class="container-fluid">
                     <div class="row flex-nowrap">
                         {% for want_key, want_is_favo in want_dic.items %}
                         <div class="col-2">
                             <div class="card">
                                 <!-- Sale badge-->
                                 {% if want_is_favo %}
                                 <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                     <i class="fas fa-solid fa-star text-warning"></i>
                                 </div>
                                 {% endif %}
                                 <a href="{%url 'books:book_detail' want_key.book.pk %}">
                                     <img class="card-img-top" src="../../media/{{ want_key.book.thumbnail_image }}" alt="">
                                 </a>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                 </div>
                <p class="h2">続きを読む
                    <a class="btn btn-secondary" href="#">編集</a>
                </p>
                 <div class="container-fluid">
                     <div class="row flex-nowrap">
                         {% for reading_key, reading_is_favo in reading_dic.items %}
                         <div class="col-2">
                             <div class="card">
                                 <a href="{%url 'books:book_detail' reading_key.book.pk %}">
                                     <img class="card-img-top" src="../../media/{{ reading_key.book.thumbnail_image }}" alt="">
                                 </a>
                             </div>
                             {% if reading_is_favo %}
                              <i class="fas fa-solid fa-star text-warning"></i>
                             {% endif %}
                         </div>
                         {% endfor %}
                     </div>
                 </div>
                <p class="h2">もう一度読む
                    <a class="btn btn-secondary" href="#">編集</a>
                </p>
                 <div class="container-fluid">
                     <div class="row flex-nowrap">
                         {% for read_key, read_is_favo in read_dic.items %}
                         <div class="col-2">
                             <div class="card">
                                 <a href="{%url 'books:book_detail' read_key.book.pk %}">
                                     <img class="card-img-top" src="../../media/{{ read_key.book.thumbnail_image }}" alt="">
                                 </a>
                             </div>
                             {% if read_is_favo %}
                              <i class="fas fa-solid fa-star text-warning"></i>
                             {% endif %}
                         </div>
                         {% endfor %}
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!--
{% block extrajs %}
★非同期でいいねにする機能は後で実装
<script type="text/javascript">
    document.getElementByID('ajax-favorite-book').addEventListener('click',e => {
    e.preventDefault();
    const url = '{% url "books:favorite_book" %}';
    fetch(url, {
    method: 'POST',
    body: 'book_pk={{book.pk}}',
    headers:{
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8,
        'X-CSRFToken': '{{csrf_token}}',
    },
    }).then(responce => {
    return responce.json();
    }).then(responce => {
    console.log(responce);
    }).catch(error => {
    console.log(error);
    });
    });
</script>
{% endblock %}
-->