<div class="modal fade" id="reading-modal-{{mybook.book.pk}}" tabindex="-1" aria-labelledby="ReadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="card-img-top" src="../../media/{{ mybook.book.thumbnail_image }}" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h4>{{ mybook.book.title }}<h4>
                                <h6>{{ mybook.book.author }}<h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-toggle="modal" data-target="#feedback-modal-{{ mybook.book.pk }}">読了へ移動</a>
                <a class="btn btn-secondary" href="{% url 'books:book_detail' mybook.book.pk%}">書籍詳細</a>
                <a class="btn btn-danger" data-toggle="modal" name="btn_delete" data-target="#delete-modal-{{ mybook.book.pk }}">本棚から削除</a>
            </div>
            {% include 'feedback_modal.html' %}
            {% include 'delete_modal.html' %}
        </div>
    </div>
</div>
