<div class="modal fade" id="recommend-modal" tabindex="-1" aria-labelledby="RecommendLabel" aria-hidden="true">
    <div class="modal-dialog modal-mobile">
        <div class="modal-content-index">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="card-images col-12">
                            <div class="card-status">
                                <i class="card-status-icon fa-solid fa-xmark"></i>
                                <i class="card-status-icon fa-solid fa-heart"></i>
                            </div>
                            {% with ''|center:count as range %}
                                {% for _ in range %}
                                    <img class="card-img card-img-modal" src="" alt="">
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="matching-button circle circle-unlike text-center　mx-auto" id="btn_unlike">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="matching-button circle circle-like text-center　mx-auto" id="btn_like">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

