{% extends 'base.html' %}

{% load static %}

{% block title %}人生を変える本に出会おう。More Books!{% endblock %}

{% block header %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">本を探してみよう！</h1>
                    <a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#recommend-books-owned-category-select-modal">
                        知見を深める
                        <i class="far fa-solid fa-magnifying-glass"></i>
                    </a>
                    <a type="button" class="btn btn-primary btn-lg">
                        知見を広げる
                        <i class="far fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'recommend_books_owned_category_modal.html' %}
{% endblock %}

{% block contents %}
{% endblock %}
