<div class="modal fade" id="recommend-modal" tabindex="-1" aria-labelledby="RecommendLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="card-img-top" id="thumbnail_image" src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal_footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-grid">
                            <a class="circle circle-unlike text-center　mx-auto" id="not_add_mybooks">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-grid">
                            <a class="circle circle-like text-center mx-auto" id="add_mybooks">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
